/**
 * Alpha Layer - Colemak
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    dvorak_layer {
      display-name = DISPLAY_NAME;
      bindings = <
//                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//                 │0              │1              │2              │3              │4              │   │5              │6              │7              │8              │9              │
                    &as SQT         &as_cs          &as_de          &kp P           &kp Y               &kp F           &kp G           &kp C           &kp R           &kp L
//                 ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//                 │10             │11             │12             │13             │14             │   │15             │16             │17             │18             │19             │
                    &hrml LGUI A    &hrml LALT O    &kp E           &hrll L2 U      &kp I               &kp D           &hrlr L2 H      &kp T           &hrmr LALT N    &hrmr RGUI S
// ╭───────────────┬───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┬───────────────╮
//  20             │21             │22             │23             │24             │25             │   │26             │27             │28             │29             │30             │31             │
    &csl Fn         &as SEMI        &kp Q           &kp J           &kp K           &kp X               &kp B           &kp M           &kp W           &kp V           &kp Z           &csl Fn
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │32             │33             │34             │   │35             │36             │37             │
                                                    &mt LALT ESC    &mt LCTRL SPACE &mt LSHFT TAB       &mt RSHFT RET   &mt RCTRL BSPC  &mt LALT DEL
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
